.demo-card-image.mdl-card {
  width: 150px;
  height: 100px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 32px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.image1 {
  background-image: url('/images/partyrock.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image2 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image3 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image4 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image5 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image6 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
