.demo-card-wide.mdl-card {
  width: 400px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-wide.mdl-card {
  width: 400px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('ad1.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.track-container{
  width: 400px;
}

.demo-card-image.mdl-card {
  width: 400px;
  height: 100px;
  /*background: url('http://www.getmdl.io/assets/demos/image_card.jpg') center / cover;*/
  background: url('adele.png') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.ads_container.mdl-card {
  width: 400px;
  height:200px;
  padding:10px;
  background: url('ad1.jpg') center / cover;
}

.demo-card-ads.mdl-card {
  width: 400px;
  height:200px;
  background: url('ad1.jpg') center / cover;
}
.demo-card-ads > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-ads > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-ads > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-ads > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}


.demo-card-player.mdl-card{
  width: 400px;
  background: white;
}

.demo-card-event.mdl-card {
  width: 400px;
  height: 128px;
  background: white;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

body {
  /*padding: 20px;*/
  background: #fafafa;
  position: relative;
}

.controls{
  margin-top: 15px;
  margin-bottom: 5px;
}

.control{
  margin-left: 30px;
}

.lyrics-text{
  width: 100%;
  text-align: center;
  color: #999999;
  font-size: 14px !important;
}

#current_line {
  color: #333333;
  font-weight: bold;
  margin-bottom: 0px;
}

#previous_line {
  margin-bottom: 5px;
}

#slider-circle {
  position: relative;
}

.mdl-slider__background-flex {
  background-color: #000000;
}

html, body {
  font-family: 'Segoe UI', sans-serif;
}

.image1 {
  background-image: url('/images/partyrock.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image2 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image3 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image4 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image5 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.image6 {
  background-image: url('/images/roar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#lyricOuterContainer {
  overflow: hidden;
  margin-top: 25px;
  height: 150px;
}

#lyricContainer {
  text-align: center;
  position: relative;
  transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  top: 0;
}

#lyricContainer p {
  margin-bottom: 5px;
  color: #CCCCCC;
}

#lyricContainer p.current {
  color: #000000;
  font-size: 18px;
}

.mdl-button--fab.mdl-button--colored,
.mdl-button--fab.mdl-button--colored:hover {
  background-color: transparent;
}

.mdl-button--fab {
  border-radius: 0%;
  box-shadow: none;
}

#next {
  width: 74px;
}

#next img,
#prev img {
  width: 37px;
  height: 28px;
}

#play {
  margin-left: 80px;
  margin-right: 30px;
}

#play img {
  width: 27px;
  height: 31px;
}

#play.paused #pauseImage {
  display: inline;
}

#play.paused #playImage {
  display: none;
}

#pauseImage {
  display: none;
}

